{# apps/templates/includes/header.html #}
{% load static %}
{% with request.resolver_match.view_name as view_name %}
<div class="topnav">
    <a class="{% if view_name == 'bookmodule:books.index' %}active{% endif %}"
       href="{% url 'bookmodule:books.index' %}">Home</a>

    <a class="{% if view_name == 'bookmodule:books.list_books' %}active{% endif %}"
       href="{% url 'bookmodule:books.list_books' %}">List Books</a>

    <a class="{% if view_name == 'bookmodule:books.aboutus' %}active{% endif %}"
       href="{% url 'bookmodule:books.aboutus' %}">About</a>
</div>
{% endwith %}
